{% extends "layout.html" %}

{% block head %}
<title> Sobre - Caio Ledesma </title>
{%endblock%}

{% block content %}


                <div id="wrapper">
                    <img src="https://avatars2.githubusercontent.com/u/42016457?s=460&u=56d29a592d0d5345015a1f78104033c11880484d&v=4" alt="Caio Ledesma">
                <h1>Caio Ledesma</h1>
                <h2>Full Stack Developer</h2>
                <p>Estudante na <a href="https://rocketseat.com.br/" target="blank">Rocketseat</a></p>
                </div>

                <div id="links-footer" class="links">
                    <a href="https://github.com/caioledesma" target="blank">Github</a>
                    <a href="https://www.linkedin.com/in/caioledesma/" target="blank">LinkedIn</a>
                </div>

{% endblock %}