@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --primary-color: #7159c1 ;
}

*{
    padding: 0;
    margin: 0;
    border: none;
}


body{
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    width: 100%;
    padding: 32px; 
    text-align: center;
/* sem o border-box: box sizing o padding fica de acordo com o 100%, deixando ele torto, precisa adicionar esse atributo pra ficar certinho */
    box-sizing: border-box;
}

.links{
    font-size: 22px;
}

.links a + a{
    margin-left: 32px;
}

.links a{
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active{
    font-weight: 700;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color)
}

/* esse abaixo é pra criar pseudo elementos, com o after ele aparece depois e o before, ele aparece antes. Sempre precisa ter um CONTENT e pode ser vazio */


.links a::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--primary-color);
    left: 0;
    bottom: -3px;
    width: 0;
}

.links a:hover::after{
    width: 100%;
    transition: width 300ms ease-out;
    /* transition pode ser aplicado em váárias coisas, melhro consultar o google, para especificar */
}



